/* =============
    Hero
============= */
#hero{
    img{ width: 100%;}
    //broke it? behind the information that is supposed to go below it.
    background-image: url('../img/hero/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 252px;
   
    @include md{
        height: 496px;
    }
    

    section{
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-content .";
            ul{ 
                
                color: $darkgray;
        
                @include md{
                grid-area: hero-content;
                display: grid;
                grid-template-columns: 40% auto;
                }

                @include lg{
                    grid-template-columns: 50% auto;
                }
            }
        }
        #track{
            background-color: $darkyellow;
        }
        #location{
            background-color: $yellow;
        }
    }
}

